@font-face {
    font-family: "BBC Reith Sans";
    src: local("BBC Reith Sans"), url("https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Rg.woff2") format("woff2");
}

@font-face {
    font-family: "BBC Reith Serif";
    src: local("BBC Reith Serif"), url("https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Rg.woff2") format("woff2");
}