.main-nav-colour {
    background-color: #b80000;
}

.main-page {
    background-color: #EEEEEE;
}

.main-text {
    color: #222;
}

.btn-primary {
    background-color: #222;
    border: 2px solid #b80000;
}

.btn-primary:hover {
    background-color: #b80000;
    border: 2px solid #b80000;
}

.btn-primary:focus {
    background-color: #b80000;
    border: 2px solid #b80000;
}

.hidden {
    display: none;
}