.main-nav-colour {
    background-color: #b80000;
}

.main-page {
    background-color: #EEEEEE;
}

.main-text {
    color: #222;
}

button {
    background-color: #b80000;
    border: 2px solid #b80000;
    color: white;
}

button:hover {
    background-color: #EEEEEE;
    border: 2px solid #b80000;
    color: #222
}

button:focus {
    background-color: #b80000;
    border: 2px solid #b80000;
}

.hidden {
    display: none;
}

.close-button {
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}

a:hover {
    color: white !important;
    text-decoration: underline !important;
}

.portfolio:hover .portfolio-item:hover .portfolio-item-caption:hover {
    background-color: #b80000;
    opacity: 0.8;
}